@text-color: #3F3E3D;
@border-color: #D2D2D2;
@content-width: 860px;

body{
	background-color: grey;
}
header ul{
		list-style: none;
	}
@media (min-width: 381px){
	nav.button{
		display: block;
		height: 25px;
	}
}
@media (max-width: 454px){
	nav.button{
		width: 65%;
	}
}
@media (max-width: 460px){
	.navbar-collapse{
		left: 200px;
	}
}
@media (min-width: 461px) and (max-width: 510px){
	.navbar-collapse{
		left: 210px;
	}
}
@media (min-width: 511px) and (max-width: 560px){
	.navbar-collapse{
		left: 230px;
	}
}
/*@media ()*/
@media (min-width: 455px) and (max-width: 607px){
	nav.button{
		width: 67%;
	}
}
@media (min-width: 381px) and (max-width: 520px){
	.program_column{
		width: 30%;
	}
	#impact_graph_wrapper{
		width: 95%;
	}
	#impact_graph{
		width: 70%;
	}
}
@media (min-width: 561px) and (max-width: 607px){
	.navbar-collapse{
		left: 235px;
	}
}
@media (min-width: 608px) and (max-width: 649px){
	.logo{
		margin-left: 10px;
	}
	nav.button{
		width: 73%;
	}
	
	.navbar-collapse{
		top: 65px;
		left: 290px;
	}
	.nav>li{
		position: relative;
		display: block;
	}
	
}
@media (min-width: 650px) and (max-width: 677px){
	nav.button{
		width: 76%;
	}
	.navbar-collapse{
		left: 320px;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	nav.button{
		width: 88%;
	}
	.navbar-collapse{
		left: 390px;
	}
}
@media (max-width: 991px){
	.menu_button{
		display: none;
	}
	nav>li{
		position: relative;
		display: block;
	}
	.nav-menu{
		  margin: 0;
		  padding: 0;
		  border: 0;
		  list-style: none;
		  line-height: 1;
		  display: block;
		  position: relative;
		  cursor: pointer;
		  -webkit-box-sizing: border-box;
		  -moz-box-sizing: border-box;
		  box-sizing: border-box;
	}
	.nav-menu::after {
    display: block;
    content: '';
    position: absolute;
    height: 7px;
    width: 22px;
    border-top: 2px solid #d3eced;
    border-bottom: 2px solid #d3eced;
    right: 25px;
    top: 18px;
  }
    .nav-menu::before {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #d3eced;
    right: 25px;
    top: 28px;
  }
}
@media (min-width: 550px) and (max-width: 991px){
	.menu_button{
		display: none;
	}
	/*.navbar-collapse{
		left: 305px;
	}*/
	.nav-active{
		/*background-color: #ffffff;*/
		position: relative;
		display: block;
		float: none;
		width: 100%;
	}
	
	
}
@media (min-width: 678px) and (max-width: 767px){
	#header_menu{
		margin-left: 5px;
	}
	.logo{
		width: 14%;
	}
	.button{
		width: 86%;
	}
	.menu_button{
		padding: 0px 8px;
	}
	.dropdown_button{
		display: none;
	}
	.navbar-collapse{
		left: 330px;
	}
}
@media  (min-width: 768px){
	.menu_button{
		padding: 0px 8px;
	}
	.menu_button:first-child{
		margin-left: 10px;
	}
	.logo{
		width: 12%;
	}
	.logo-header, .image-1{
		padding-left: 5px;
	}
	.flex-control-nav {
		left: 260px;
		z-index: 12;
	}
	.pillar_column{
		margin-left: 37px;
		padding: 12px;
	}
	.program_column{
		width: 31%;
	}
	#impact_graph_wrapper{
		width: 95%;
	}
	#impact_graph{
		width: 70%;
	}
	.blog_col{
		margin-right: 2px;
	}
	.blog_info{
		padding-right: 10px;
	}
	#subscribe-text{
		width: 100%;
	}
}
@media (min-width: 992px){
	.navbar-collapse{

	}
}
@media (min-width: 1100px){
	.menu_button{
		padding: 0px 17px;
	}
	.logo-header, .image-1{
		padding-left: 25px;
	}
	.flex-control-nav {
		left: 360px;
		z-index: 12;
	}
	.pillar_column{
		margin-left: 57px;
		padding: 40px;
	}
	.program_column{
		width: 32%;
	}
	#impact_graph_wrapper{
		width: 1140px;
	}
	#impact_graph{
		width: 740px;
	}
	.blog_col{
		margin-right: 5px;
	}
	.blog_info{
		padding-right: 50px;
	}
	#subscribe-text{
    	width: 90%;
	}
}

@media (min-width: 1200px){
	
	.blog_col{
		margin-right: 10px;
	}
}
.antialiased (@color) {
	color: @color;
	text-shadow: @color 0 0 1px;
}
.navbar-collapse{
		overflow-y: auto;
		top: 65px;
		width: 45%;
		position: absolute;
		display: block;
		z-index: 1;
		background-color: #1fa6e0;
	}
.nav-active{
		/*background-color: #ffffff;*/
		position: relative;
		display: block;
		float: none;
		width: 100%;
	}
.logo-header, .image-1{
	margin: 10px 0px 10px;
	//padding-right: 15px;
    
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 10px;
}

header{
	background-color: #1fa6e0;
	//height: 115px;
	 
}
#header_menu{
	/*float:left;*/
	clear:both;
	margin-top: 20px;
}
header.button{
	 padding-top: 4px;
	 }

#content {
	background-color: white;
}
div.wrapper div.panel {
			border: 1px solid @border-color;
			background: white;
			margin: 0;
			margin-bottom: 29px;
			border-radius: 6px;
			font-size: 14px;
			
			* {
				margin: 6px 0;
			}
			form {
				padding: 0 23px;
			}
			h1 {
				border-bottom: 1px solid @border-color;
				margin: 5px 0;
				font-weight: normal;
				font-size: 18px;
				padding: 13px 23px;
				height: 23px;
			}
			p {
				padding: 0 24px;
				margin: 18px 0;
			}
		}

footer {
	background-color: #1fa6e0;
	height: 220px;
	padding: 28px;
}



a.footer_link{
	text-decoration: none;
	display: block;
	font-weight: bold;
	color: white;
	padding-top: 15px;
}

.menu{
	height: 35px;
	float: left;
	width: 75%;
}
.button{
	float:left;
	//margin-left: 50px;
}
.menu_button{
	float: left;
	margin-top:10px;
	height: 25px;
	background-size: cover;
	background-position: center center;
	opacity: 0.5;
	padding-top: 5px;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.menu_button a{
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 17px;
}
.active a{
	text-decoration: none;
	font-weight: bold;
	color: #ED1C24;
	font-size: 17px;
}
.menu_button:hover{
  opacity: 0.75;
}
.search{
	float:left;
	width: 20%;
	background: url(../images/magnify2.png) no-repeat;
	background-position: right bottom;
	padding-top: 10px;
}

#separator2{
	background: url(../images/separator2a.png) no-repeat;
	//background-position: right bottom;
	background-size: cover;
	height: 39px;
}

#separator3{
	background: url(../images/separator3.png) no-repeat;
	//background-position: right bottom;
	background-size: cover;
	height: 39px;
}

#separator4{
	background: url(../images/separator4.png) no-repeat;
	//background-position: right bottom;
	background-size: cover;
	height: 39px;
}
.news{
	background-color: #3a3a3c;
	height: 370px;
	padding: 10px;
}
#index_news{
	float: left;
	width: 40%;
	height: 100%;
	border-right: 5px #c5817e solid;
	padding-left: 50px;
	padding-right: 15px;
	
}
#index_news div#view_all{
		float: right;
		padding-right: 20px;
		text-decoration: none;
		font-family: gotham;
		font-weight: light;
		font-style: italic;
		font-size: 18.42px;
	}
#index_news div#view_all a{
			color: #ffffff;
			text-decoration: none;
		}
#index_blog{
	float: left;
	width: 60%;
	height: 100%;
	padding-left: 15px;
	
}
#index_blog div#view_all{
		float: right;
		padding-right: 75px;
		text-decoration: none;
		font-family: gotham;
		font-weight: light;
		font-style: italic;
		font-size: 18.42px;
	}
#index_blog div#view_all a{
			color: #ffffff;
			text-decoration: none;
		}
#separator5{
	background: url(../images/separator5.png) no-repeat;
	background-size: cover;
	height: 39px;
}
#blog_title{
	float: left;
	width: 70%;
}
.row{
	clear: both;
	overflow: hidden;
	margin: 0px;
}
.blog_title, .blog_modificator, .program_title, .press_title{
	float:left;
	width: 85%;
}
.blog_created, .blog_modified, .program_created, .press_created{
	float:left;
	width: 15%;
}
#content div.blog_news img{
	clear: both;
	float:none;
}

.active{
	opacity: 1;
	background-color: #ffffff;
	border-radius: 5px;
	height: 35px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 15;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.flex-control-nav {
	width: 100%; position: absolute; 
	top: 420px; text-align: center;
	z-index: 12;
}
.flex-control-nav li {
	margin: 0 3px; display: inline-block; 
	zoom: 1; *display: inline;
}
.flex-control-paging li a {
	width: 12px; height: 12px; display: block; 
	background:#ccc; cursor: pointer; 
	text-indent: -9999px;
	-webkit-border-radius: 20px; 
	-moz-border-radius: 20px; 
	-o-border-radius: 20px; 
	border-radius: 20px; 
	/*box-shadow: inset 1px 1px 1px rgba(0,0,0,0.5); 
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.5); 
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.5);*/
	}
.flex-control-paging li a:hover { background: #949599;}

.flex-control-paging li a.flex-active { 
background: yellow; cursor: default; 
}
.big_image{
    height: 360px;
    width: 100%;
    overflow: hidden;
}
.section h3{
	font-family: impact;
    font-size: 36px;
    text-align: center;
}
#pillars{
	height: 520px;
}
#pillars h3, #impact h3, #pillars .underline, #impact .underline{
    color: #1FA5DE;
}
div.underline{
	text-decoration: overline;
	height: 30px;
	text-align: center;
	font-size: 36pt;
}
#programs{
	background-color: #1d90bc;
}
#programs h3, #programs .underline{
	color: #FFFFFF;
	margin-top: 20px;
}
.text, .section.text{
	text-align: center;
}
#pillar_section{
	height: 340px;
}
#pillar_wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    overflow: hidden;
}
div.pillar_column{
	float:left;
	width: 26%;
	background-color: #f3f3f5;
	height: 340px;
	
	border-radius: 10px;
	
	color: #231F20;
	text-align: center;
	
}

div.pillar_column .middle{
		height: 50%;
	}

div.pillar_column .middle h4{
	font-weight: bold;
}

#first_pillar .top{
		background: url(../images/education_default.png) no-repeat center;
		height: 100px;
		margin-bottom: 20px;
	}
#first_pillar div.bottom{
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		//background-color: #fcb040;
		height: 40px;
	    border-bottom: #fcb040 20px solid;
	}
#first_pillar div.top-active{
	background: url(../images/education_white.png) no-repeat center;
	height: 100px;
	margin-bottom: 20px;
}
#first_pillar div.bottom-active{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	height: 40px;
	border-bottom:none;
}
#first_pillar div.bottom-active .bottom-learn{
	border-radius: 5px;
	background-color: white;
	text-align: center;
	/* height: 26px; */
	padding-top: 5px;
	padding-bottom: 5px;
}
#first_pillar div.bottom-active .bottom-learn a{
	font-weight: lighter;
	font-family: gotham;
	font-style: italic;
	color: #231F20;
}

div.column1_active{
	background-color: #FBAF3F;
	color: #ffffff;
}
div.column2_active{
	background-color: #2A388F;
	color: #ffffff;
}
div.column3_active{
	background-color: #8CC63E;
	color: #ffffff;
}
.section{
	margin-top: 20px;
}
.section .text{
	padding-bottom: 20px;
}

div#second_pillar div.top{
	background: url(../images/health_default.png) no-repeat center;
	height: 100px;
	margin-bottom: 20px;
}
div#second_pillar div.top-active{
	background: url(../images/health_white.png) no-repeat center;
	height: 100px;
	margin-bottom: 20px;
}
div#second_pillar div.bottom{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	//background-color: #283891;
	height: 40px;
	border-bottom: #283891 20px solid;
}
div#second_pillar div.bottom-active{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	height: 40px;
	border-bottom:none;
}

div#second_pillar div.bottom-active .bottom-learn{
	border-radius: 5px;
	background-color: white;
	text-align: center;
	/* height: 26px; */
	padding-top: 5px;
	padding-bottom: 5px;
}

div#second_pillar div.bottom-active .bottom-learn a{
	font-weight: lighter;
	font-family: gotham;
	font-style: italic;
	color: #231F20;
}

div#third_pillar div.top{
	background: url(../images/environment_default.png) no-repeat center;
	height: 100px;
	margin-bottom: 20px;
}
div#third_pillar div.top-active{
	background: url(../images/environment_white.png) no-repeat center;
	height: 100px;
	margin-bottom: 20px;
}
div#third_pillar div.bottom{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	//background-color: #8cc63e;
	height: 40px;
	border-bottom: #8cc63e 20px solid;
}
div#third_pillar div.bottom-active{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	height: 40px;
	border-bottom:none;
}
div#third_pillar div.bottom-active .bottom-learn{
	border-radius: 5px;
	background-color: white;
	text-align: center;
	/* height: 26px; */
	padding-top: 5px;
	padding-bottom: 5px;
}
div#third_pillar div.bottom-active .bottom-learn a{
	font-weight: lighter;
	font-family: gotham;
	font-style: italic;
	color: #231F20;
}

.logo{
	float:left;
}
#share_to{
	float: right;
	margin-top: 5px;
	margin-right: 5px;
}
#share_to img{
	padding: 0px 5px;
	height: 15px;
}
.page-header{
	margin: 0px;
}
#footer_column1{
	float:left;
	width:65%;
}
#footer_column2{
	float:left;
	width:35%;
}
#subscribe-text{
	background-color: white;
    padding: 10px 9px 35px 10px;
}
#subscribe-text p{
	//font-weight: bolder;
	color: #3AAAD2;
	font-family: impact;
	font-size: 11.17px;
}

#subscribe-submit{
	padding-top: 5px;
	float: right;
}
#subscribe-submit input[type='submit']{
	//padding: 10px 15px 11px !important;
	//font-size: 18px !important;
	background-color: #57d6c7;
	font-weight: bold;
	text-shadow: 1px 1px #57D6C7;
	color: #ffffff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #57D6C7;
	cursor: pointer;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	height: 20pt;
	font-size: 10px;
	font-family: impact;
}

#subscribe-field-blog_subscription-2{
	display: block;
	background-color: #c7e9f3;
	width: 100%;
	height: 25pt;
	font-size: 8px;
	color: #231F20;
	font-family: gotham;
}

#footer_share_to img{
	padding: 15px 15px 0px 15px;
}
#footer_links{
	height: 120px;
}
#footer_logo{
	float: right;
	padding-right: 70px;
}
.big_image .images{
	height: 100%;
}
.big_image .images #image1{
	background: url(../images/school_sport.png) no-repeat;	
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
}

.big_image .images #image2{
	background: url(../images/big_screen2.png) no-repeat;
	
}
.big_image .images .image{
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
}
.big_image div.images div.image p{
	position: relative; 
	top: 250px; 
	left: 40px; 
	width: 40%; 
	height: 110px;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 15px;
	font-weight: bold;
	color: #231F20;
	font-family: arial;
	font-size: 14px;
}
.news_title{
	font-family: impact;
	color: #ffffff;
	font-weight: bold;
	font-size: 24px;
}

#program_wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    overflow: hidden;
}
div.program_column{
	float:left;
	
	background-color: #f3f3f5;
	height: 290px;
	margin-left: 10px;
}
#first_program div.program_picture{
	background: url(../images/education.png) no-repeat;
}
#second_program div.program_picture{
	background: url(../images/health-01.png) no-repeat;
}
#third_program div.program_picture{
	background: url(../images/environment.png) no-repeat;
}
.program_picture{
	height: 265px;
}
#programs div.text{
	font-size: 23.52px;
	color: #FFFFFF;
	font-family: GOTHAM;
}
#programs #view_all{
	padding: 15px;
	text-align: right;
	padding-right: 90px;
}
#programs #view_all a{
	text-decoration: none;
	font-family: gotham;
	padding: 10px;
	font-weight: light;
	font-style: italic;
	font-size: 13.24px;
	color: #ffffff;
}
#program1 .bottom{
	background-color: #fcb040;
}
#program2 .bottom{
	background-color: #293991;
}
#program3 .bottom{
	background-color: #8dc641;
}
.program_column .bottom{
	height: 25px;
}
.program_info{
    background-color: rgba(158, 163, 159, 0.5);
    height: 100%;
    color: #ffffff;
    text-align: center;
}
.program_info .top{
	font-family: impact;
	font-size: 24px;
	height: 35px;
	width: 95%;
	padding-top: 18px;
	margin-left: auto;
	margin-right: auto;
}
.program_info .middle{
	height: 190px;
	position: relative;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
}
.program_info .bottom_info .bottom-learn{
	text-align: right;
}
.program_info .bottom_info .bottom-learn a{
	color: #ffffff;
	display: block;
}
.blog_info , .news_info{
	padding-top: 10px;
	height: 290px;
}
.blog_col{
    float: left;
    width: 48%;
    height: 260px;
    
    border: 1px solid #ffffff;
}

.blog_col div.example{
	height: 190px;
	/*background: url(../images/video_example.png) no-repeat;*/
	background-size: 100% 100%;
	
}
.blog_col div.example .play_button{
		background: url(../images/play_icon.png) no-repeat center;
		height: 100%;
		margin-top: auto;
		margin-bottom: auto;
	}
.blog_col .info{
	background-color: #3c2417;
	height: 67px;
	color: #ffffff;
	text-align: center;
	padding: 5px;
}
.blog_col .info span{
    font-size: 14px;
    font-weight: bold;
}

.news_info_section{
	clear: both;
	padding-top: 5px;
	overflow: hidden;
}
.news_info_img{
	float: left;
	width: 20%;
	background: url(../images/video_example.png) no-repeat;
	height: 60px;
	border: 1px solid #ffffff;
}

.news_info_detail{
	float: left;
	width: 75%;
	color: #ffffff;
	padding-left: 10px;
}

.news_info_detail span{
    font-size: 18px;
    font-weight: bold;
    font-family: gotham;
}

#footer_links{
	color: #ffffff;
	font-family: impact;
}

#footer_links .column{
	float: left;
	width: 30%;
}
#footer_links .column span{
	//font-weight: bold;
	font-size: 19px;
}
#footer_links .column span, #footer_links .column a{
	display: block;
	text-decoration: none;
	color: #ffffff;
}

#footer_links .column a{
	font-size: 13.92px;
}


#impact_graph{
	background: url(../images/impact_example.png) no-repeat;
	background-size: 100% 100%;
	height: 350px;
	margin-left: auto;
	margin-right: auto;
}
#impact #view_all{
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: right;
	padding-right: 205px;
	font-family: gotham;
    font-weight: lighter;
    font-style: italic;
    font-size: 13.24px;
    
}
#impact #view_all a{
    	color: #ED1C24;
    	text-decoration: none;
    }

div.login div.wrapper{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

div.content_wrapper{
	padding: 10px;
	margin: 0px 55px;
}

div.blog_content .blog_record, div.program_content .program_record, .press_record, .blog_record{
		padding-bottom: 20px;
	}

/*#demo{*/
.donation_button{
  position:fixed;
  height:100vh;
  overflow:hidden;
  width: 20%;
  right: 90px;
}
.donation_info{
	background-color: #1fa6e0;
	padding: 10px;
	text-align: center;
}
/*.donation_button{*/
#demo{
  position:relative;
  float:left;
  width: 80%;
  padding: 0px 10px;
}

.program_image, .press_image, .blog_image{
	float:left;
	padding-right: 35px;
	margin-bottom: 20px;
}
.program_record, .press_record, .blog_record{
	border-bottom: 2px inset grey;
	border-top: 2px inset grey;
	padding: 10px 20px 10px 20px;
	text-align: justify;
}
.program_created, .press_created, .blog_created{
	text-align: right;
}
.program_content span, .press_content span, .blog_content span{
	font-size: 10px;
}
.image_content{
	overflow: hidden;
	clear: both;
	padding: 0px 20px 0px 20px;
}
.image_content table{
	border-spacing: 5px;
	border-collapse: separate;
}
.image_record{
	float:left;
	width: 32%;
	height: 350px;
}
.image_title{
	height: 50px;
}

#separator
{
    width: 0px;
    height: 0px;
    border-style: solid;
    margin: auto;
    border-width: 41px 41px 0 41px;
    border-color: #ffffff transparent transparent transparent;
    line-height: 0px;
    _border-color: #ffffff #000000 #000000 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000')
}

.video_content{
	margin: 20px;
	overflow: hidden;
}

.video_record{
	float:left;
	width: 50%;
}

.video_row{
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

.video_title h4, .image_title h4{
	font-weight: bold;
}
.video_title_div{
	margin-bottom: 10px;
}

.video_title_div h3{
	float: left;
	width: 70%;
	font-size: bold;
}
.video_title_div span{
	float: left;
	width: 29%;
	margin-top: 30px;
}
.program_title_div{
	margin-bottom: 10px;
}
.program_title_div h3, .blog_title_div h3, .press_title_div h3, .impact_content h3{
	font-weight: bold;
	margin-bottom: 20px;
}

.career_info label{
	float: left;
	width: 15%;
	text-align: right;
}

.career_info div{
	float: left;
	width: 85%;
	padding-left: 15px;
}
td.image_column{
	width: 33%;
	padding-top: 10px;
}
td.video_column{
	width: 50%;
}
.pillar_health-top{
	/*width: 50%;
	margin-left: auto;
	margin-right: auto;*/
	background: url(../images/health-top-image.png) no-repeat;
	background-position: center center;
	height: 150px;
}
#pillar_health-top-info{
	font-size: 16px;
	text-align: center;
}
#pillar_column1{
	float:left;
	width: 50%;
	padding-left: 10px;
}
td#health_logo1{
	width: 50%;
}
#unhealthy_logo{
	background:url(../images/health-mouse-image.png) no-repeat;
	height: 60px;
	background-size: 60px 60px;
	padding-left: 75px;
	padding-top: 17px;
}
#health_logo{
	background:url(../images/health-health-image.png) no-repeat;
	height: 60px;
	background-size: 60px 60px;
	padding-left: 75px;
	padding-top: 17px;
}
#pillar-table{
	border-spacing: 25px;
	border-collapse: separate;
}
#pillar-table tr td{
	padding: 0px 10px;
}

tr.health_2ndrow td#health_sanitation{
	padding-left: 40px;
	padding-right: 40px;
}

#education_logo{
	background:url(../images/education_logo.png) no-repeat;
	height: 60px;
	background-size: 60px 60px;
	padding-left: 75px;
	padding-top: 17px;
}
#literacy_logo{
	background:url(../images/literacy.png) no-repeat;
	height: 60px;
	background-size: 60px 60px;
	padding-left: 75px;
	padding-top: 17px;
}
.impact .row h3{
	text-align: center;
}

#impact1{
	background:url(../images/impact1.png) no-repeat;
	height: 120px;
	background-size: 100px 120px;
	padding-left: 125px;
	padding-top: 17px;
}
#impact2{
	background:url(../images/impact2.png) no-repeat;
	height: 120px;
	background-size: 100px 120px;
	padding-left: 125px;
	padding-top: 17px;
}
#impact3{
	background:url(../images/impact3.png) no-repeat;
	height: 120px;
	background-size: 100px 120px;
	padding-left: 125px;
	padding-top: 17px;
}
#impact-table{
	border-spacing: 10px;
	border-collapse: separate;
	width: 100%;
}
#impact-table tr td .info{
	font-size: 55px;
	color: #e60000;
}
#last_row{
	margin-left: auto;
	margin-right: auto;
	width: 37%;
}
td#center div{
	background-color: blue;
    height: 120px;
    width: 200px;
    border-radius: 50%;
    padding-top: 35px;
    margin-top: 112px;
    margin-right: 25px;
    /* margin-right: auto; */
    padding-left: 27px;
    padding-right: 27px;
    color: white;
    font-weight: bold;
    text-align: center;
}
p.caption{
	text-indent: 2em;
}

#program_image, #press_image{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	margin-bottom: 15px;
}

#press_record, #program_record, #blog_record{
    padding: 10px 20px 10px 20px;
    text-align: justify;
}

.press_news #detail_info p, .program_news #detail_info p{
	text-indent: 2em;
}