{% extends "base.html" %}
{% block title %}Photo/Video{% endblock title %}
{% block content_container %}
{% load markup %}
{% load thumbnail %}
{% load embed_video_tags %}
<div class="content_wrapper">

<div class="image_content">
    <table>
       {% for  gallery in galleries %}
            {% if forloop.counter0|divisibleby:'3' %}
                <tr >
            {% endif %}
        <td class="image_column">
                <h4 class="row">
                {{gallery.title}}
                </h4>
                <div class="image_created">
                    {{gallery.modified}}
                    {% thumbnail gallery.image "250x250" as im %}
                        <img src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}">
                    {% endthumbnail %}
                </div>
        </td>
        {% ifnotequal forloop.counter0 0 %}
            {% if forloop.counter|divisibleby:'3' %}
                </tr>
            {% endif %}
        {% endifnotequal %}
        {% endfor %}
    </table>
</div>
<div class="video_content row">
    <table>
       {% for  video in videos %}
       {% if forloop.counter0|divisibleby:'2' %}
            <tr>
       {% endif %}
                <td class="video_column">
                        <div class="row">
                            <h4>{{video.title}}</h4>
                        </div>
                        <div class="video_created">
                            {{video.modified}}
                        </div>
                        {% video video.location  as my_video %}
                          {% video my_video '450x350' %}
                        {% endvideo %}
                </td>
        {% ifnotequal forloop.counter0 0 %}
            {% if forloop.counter|divisibleby:'2' %}
                </tr>
            {% endif %}
        {% endifnotequal %}
        {% endfor %}
    </table>
</div>
</div>
{% endblock content_container %}