{% extends "base.html" %}
{% block title %}{{category}}{% endblock title %}
{% block content_container %}
{% load markup %}
{% load thumbnail %}
<div class="content_wrapper">

<div class="program_content">
    <h3>{{category}}</h3>
       {% for  program in programs %}
        <div class="program_record">
            <div class="program_title_div row">
                <h3 class="program_title">{{program.title}}</h1>
                 <span class="program_created">{{program.modified}}</span>
            </div>
            <div class="program_news row">
                <div class="program_image">
                {% thumbnail program.image "350x350" as im %}
                    <img src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}">
                {% endthumbnail %}
                </div>
                {{program.content|markdown|truncatewords:90 }}
                <a href="{% url 'program:view_program' program.id %}">see more..</a>
            </div>
        </div>
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if programs.has_previous %}
                    <a href="?page={{ programs.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ programs.number }} of {{ programs.paginator.num_pages }}.
                </span>

                {% if programs.has_next %}
                    <a href="?page={{ programs.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
</div>
</div>
{% endblock content_container %}