{% extends "base.html" %}
{% block title %}Press - {{category}}{% endblock title %}
{% block content_container %}
{% load markup %}
{% load thumbnail %}
<div class="content_wrapper">

<div class="press_content">
    <h3>{{category}}</h3>
       {% for  press in news_press %}
        <div class="press_record">
            <div class="press_title_div row">
                <h3 class="press_title">{{press.title}}</h1>
                 <span class="program_created">{{press.modified}}</span>
            </div>
            <div class="press_news row">
                <div class="press_image">
                {% thumbnail press.gallery.image "350x350" as im %}
                    <img src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}">
                {% endthumbnail %}
                </div>
                    {{press.location_with_content|markdown|truncatewords:90 }}
                <a href="{% url 'news:view_press' press.id %}">see more..</a>
            </div>
        </div>
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if news_press.has_previous %}
                    <a href="?page={{ news_press.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ news_press.number }} of {{ news_press.paginator.num_pages }}.
                </span>

                {% if news_press.has_next %}
                    <a href="?page={{ news_press.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
</div>
</div>
{% endblock content_container %}