    <header>
        <div class="row logo-header">
                <div id="share_to">
                    <a target="_blank" href="https://www.facebook.com/Koran-Anak-BERANI-181133758007/"><img src="{{media_url_prefix}}images/facebook.png"/></a>
                    <a target="_blank" href="https://twitter.com/beranikidnews"><img src="{{media_url_prefix}}images/twitter.png"/></a>
                    <a target="_blank" href="https://www.instagram.com/beranikidnews/"><img src="{{media_url_prefix}}images/instagram.png"/></a>
                    <a target="_blank" href="https://plus.google.com/116922426173001936068"><img src="{{media_url_prefix}}images/google+.png"/></a>
                </div>
                <div id="header_menu">
                    <div class="logo">
                        <a href="{% url 'home' %}"><img src="{{media_url_prefix}}images/logo_yayasan.png" alt="logo" /></a>
                    </div>
                    <nav class="button" role="full-horizontal">
                        <div class="nav-menu"></div>
                        <ul>
                            <li class="menu_button {% ifequal active 1 %}active{% endifequal %}"><a href="{% url 'story' %}" >OUR STORY</a></li>
                            <li class="menu_button {% ifequal active 2 %}active{% endifequal %}"><a href="{% url 'program:program_main' %}">PROGRAMS</a></li>
                            <li class="menu_button {% ifequal active 3 %}active{% endifequal %}"><a href="{% url 'news:blog_main' %}">BLOG</a></li>
                            <li class="menu_button {% ifequal active 4 %}active{% endifequal %}"><a href="{% url 'news:news_press' %}">PRESS</a></li>
                            <li class="menu_button {% ifequal active 5 %}active{% endifequal %}"><a href="{% url 'support_us' %}">SUPPORT US</a></li>
                        </ul>
                    </nav>
                </div>
        </div>
        
    </header>