{% extends "base.html" %}
{% block title %}Support Us{% endblock title %}
{% block content_container %}
{% load markup %}
{% load thumbnail %}
<div class="content_wrapper">

<div class="story_content">
            <div class="story row">
                <h3 class="story_title">Support Us</h3>
                <span>
				For more information, please contact us at <br/>
				Phone Number : +62.21.5331626 <br/>
				Email : yayasan@berani.co.id <br/>
				<br/>
				Berani Foundation<br/>
				Jalan Raya Perjuangan no 1, C10-11 <br/> 
				Jakarta
				</span>
            </div>
</div>
</div>
{% endblock content_container %}